<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="../javascripts/editLayout.js"></script>
    <title>Hello, world! asd</title>

  </head>
  <body class="container-fluid">
    <div class="row" style="height: 100%;">
      <div class="col-2" style="background-color: aquamarine;height: 100vh;">Controls X</div>

      <div class="col-8 " style="background-color: blueviolet;height: 100vh;">
         <!--Card style 1 -->
         <div class="card m-4 p-0" style="height: 90%;">

    
  
          <!--Card style 1 -->
         <div class="card m-4 p-0" style="height: 90%;">

          <div class="card-header" style="border-style:solid;padding: 2;margin: 0">
            <h5 class="card-title">Header - Shape 1 A</h5>
          </div>

          <div class="card-body m-0 pt-0 pb-0" style="border-style:solid; border-color: brown;">
          
              <div class="row" style="height: 100%;"
              >
                <div class="col-6" style="border-style:solid;border-color: black;">

                  <div class="row" style="border-style:solid; border-color: darkblue;height: 33.333%;">
                    <div class="col-12" style="border-style:solid;border-color: black;">
                      <textarea id="w3review" name="w3review" rows="4" cols="50" style="border:1px solid #999999; width:100%;height:90%; margin:10px 0;padding:5px;">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
                    </div>
                  </div>
                  <div class="row" style="border-style:solid; border-color: darkblue;height: 33.333%;">
                    <div class="col-12" style="border-style:solid;border-color: black;">
                      <ul type="square">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                    </div>
                  </div>
                  <div class="row" style="border-style:solid; border-color: darkblue;height: 33.333%;">
                    <div class="col-12" style="border-style:solid;border-color: black;">
                      <ol type="A">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                      </ol>
                    </div>
                  </div>
                </div>

                <div class="col-6" style="border-style:solid;border-color: black;">
                  <div class="row" style="border-style:solid; border-color: darkblue;height: 100%;">
                 
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/cn5nLOWjgEo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      
                  </div>
                </div>
              </div>


             


            </div>

          
          <div class="card-footer" style="border-style:solid;padding: 2;margin: 0">
            <h5 class="card-title">Footer</h5>
          </div>

        </div>
       
        </div>



      
      </div>


      <div class="col-2" style="background-color: aquamarine;height: 100vh;">
      
        <!--Start Header Controls-->
        <div class="card mb-2 mt-2">
          <div class="card-body">
            <h5 class="card-title">Edit Header</h5>
            <p class="card-text">Header</p>
            <p class="card-text">Text Color</p>
            <p class="card-text">Font-Size - 12</p>
            <p class="card-text">Font-Style - Sans Serif</p>

          
            <a href="#" class="btn btn-primary">Go somewhere</a>

            <button  onclick="testButton()">Click</button>
          </div>
        </div>
        <!--End Header Controls-->

        <!--Start Body Controls-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Edit Layout</h5>
        
            <a href="#" class="btn btn-primary">Change Style</a>
           
            <p class="card-text">Section 1 - Textarea </p>
            <p class="card-text">Section 2 - List </p>
            <p class="card-text">Section 3 - List </p>
            <p class="card-text">Section 4 - Video </p>

            <a href="#" class="btn btn-primary">Go somewhere</a>

            <button  onclick="testButton()">Click</button>
          </div>
        </div>
        <!--End Body Controls-->

        <!--Start Footer Controls-->
        <div class="card mb-2 mt-2">
          <div class="card-body">
            <h5 class="card-title">Edit Footer</h5>
            <p class="card-text">Timer - 0:00</p>
            <p class="card-text">Timer Visibility</p>
            <p class="card-text">Timer Icon</p>
            <p class="card-text">Locked - FALSE</p>
            <p class="card-text">User Controls</p>
            <p class="card-text">Color - Black (Default)</p>
            <p class="card-text">User Control Icon</p>
            <p class="card-text">User Timer Icon</p>
            

          
            <a href="#" class="btn btn-primary">Go somewhere</a>

            <button  onclick="onClick()">Click</button>
          </div>
        </div>
        <!--End Footer Controls-->

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script src="../public/javascripts/editLayout.js" t></script>
  </body>
</html>