<div class='card m-4 p-0' style='height: 90%;'>

    <div class='card-header p-2' style='border-style:solid;padding: 0;margin: 0'>
      <h5 class='card-title'>Header</h5>
    </div>

    <div class='card-body' style='border-style:solid; border-color: brown;' id='dynamic-card-body'>
       
    </div>
   
    <div class='card-footer p-2' style='border-style:solid;padding: 0;margin: 0'>
      <h5 class='card-title'>footer</h5>
    </div>

</div>


<div class='card m-4 p-0' style='height: 90%;'><div class='card-header p-2' style='border-style:solid;padding: 0;margin: 0'><h5 class='card-title'>Header</h5></div><div class='card-body' style='border-style:solid; border-color: brown;' id='dynamic-card-body'></div><div class='card-footer p-2' style='border-style:solid;padding: 0;margin: 0'><h5 class='card-title'>footer</h5></div></div>