 <!-- beging section field-->
 <div class="row">
    <div class="col-12">
      <div class="row pl-4"><h6>Section 1 -- <span class="badge badge-secondary">Text</span><span class="badge badge-secondary ml-1"><a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Edit Text
      </a></span></h6></div>
      <p>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body mb-4">
          <p>Text : 16</p>
          <p>Font Size : 16</p>
          <p>Font Color : Black</p>
          <p>Font Style : Sans Serif  Needs Dropdown</p>
        </div>
      </div>
  </div>
  </div>
  <!-- End Section FIELD -->
  <div class="row">
    <div class="col-12">
      <div class="row pl-4"><h6>Section 2 -- <span class="badge badge-secondary">List</span><span class="badge badge-secondary ml-1"><a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExampleTwo" role="button" aria-expanded="false" aria-controls="collapseExampleTwo">
        Edit List
      </a></span></h6></div>
      <p>
      </p>
      <div class="collapse" id="collapseExampleTwo">
        <div class="card card-body mb-4">
          <p>Font Size : 16</p>
          <p>Font Color : Black</p>
          <p>Font Style : Sans Serif  Needs Dropdown</p>
          <p>List Style : Bullet Points</p>
          <p>List Type  : UL - bullets</p>
          <p>List Order : A || 1</p>
        </div>
      </div>
  </div>
  </div>
  <!-- End Section FIELD -->
  <div class="row">
    <div class="col-12">
      <div class="row pl-4"><h6>Section 3 -- <span class="badge badge-secondary">Image</span><span class="badge badge-secondary ml-1"><a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExampleThree" role="button" aria-expanded="false" aria-controls="collapseExampleThree">
        Edit Image
      </a></span></h6></div>
      <p>
      </p>
      <div class="collapse" id="collapseExampleThree">
        <div class="card card-body mb-4">
          <p>Image : 16</p>
          <p>Upload : Button Here</p>
        </div>
      </div>
  </div>
  </div>
  <!-- End Section FIELD -->
  <div class="row">
    <div class="col-12">
      <div class="row pl-4"><h6>Section 4 -- <span class="badge badge-secondary">Video</span><span class="badge badge-secondary ml-1"><a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExampleFour" role="button" aria-expanded="false" aria-controls="collapseExampleFour">
        Edit Video
      </a></span></h6></div>
      <p>
      </p>
      <div class="collapse" id="collapseExampleFour">
        <div class="card card-body mb-4">
          <p>Thumbnail</p>
          <p>Change Video</p>
          <p>Upload Video : Button Here</p>
          <p>Video Controls : True/False</p>
        </div>
      </div>
  </div>
  </div>
  <!-- End Section FIELD -->