
  <div class='row'>
    <div class='col-12'>

      <div class='row ml-4'>
        <h6>Section 1
              <a class='btn btn-primary btn-sm' data-toggle='collapse' href='#editOptions01' role='button' aria-expanded='false' aria-controls='editOptions01' id='selectorButton01'>
              Text
              </a>
            <span class='badge badge-secondary'>
              <a class='btn btn-primary btn-sm' data-toggle='collapse' href='#collapseExampleThree' role='button' aria-expanded='false' aria-controls='collapseExampleThree' id='selectorButtonDetails01'>
              Edit Text
            </a></span>
          
          </h6>
        </div>
      </div>
  </div>
